*{
    margin: 0;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

  img{
    height: 100vh;
    width: 100%;
    opacity: .8;
  }

  h1{
    position: absolute;
    left: 5rem;
    top: 30%;
    text-align: center;
    font-size: 5rem;
    font-family:sans-serif;
    color: orangered;
    text-shadow:.2rem .2rem .1rem black, 
                 1rem 1rem 1rem black;
  }

  p{
    position: absolute;
    right:5rem;
    top: 30%;
    text-align: center;
    font-size: 5rem;
    font-family:sans-serif;
    text-shadow: 0;
    font-weight: 700;
    color: orangered;
    text-shadow:.2rem .2rem .1rem black, 
                 1rem 1rem 1rem black;
  }

  section{
    box-shadow:.2rem .2rem .1rem black, 
                 1rem 1rem 1rem black;
    position: absolute;
    border: 3px solid black;
  }

  div{
    height: 3rem;
    width: 400px;
    background-image: url(./img/muro2.png);
    background-size: cover;
  }
  